{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>AboutUS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

{% block content %}
 <!------About US -------->
  <section>
      <div class="container-fluid">
            <h1 class="text-center text-capitalize pt-5 font-weight-bold">About us</h1>
            <hr class="w-25 mx-auto mt-5">
      </div>
      <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12">
              <img src="{% static 'images/pic_0004.jpg' %}" class="img-fluid rounded"/>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <h1 class="text-center">Chairmen's Desk</h1>
            <hr>
            <p>
              Sarvodaya High School is a community that celebrates the uniqueness of each child and gives children
                an enabling environment where they can discover their own abilities and develop as confident individuals.
                At Sarvodaya's a child can seek his or her own path to success.

                We at Sarvodaya High School, value the creativity and potential hidden in each child and try to nurture
                it in a secure environment. We emphasize on helping them evolve as good human beings
                and achieve academic excellence.

                Education is a continuous process of acquiring knowledge, understanding and skills.
                Sarvodaya aims to provide varied experiences, which are challenging as well as satisfying.
                We aim to provide a balanced and integrated curriculum, which is relevant to the child's stage of
                development and caters to the individual needs as well. Our curriculum aims to create equal opportunities
                for all students. We set high standards with realistic expectations.
            </p>
            <div class="row justify-content-center">
              <button class="btn bg-info text-white">Join us</button>
            </div>
          </div>
        </div>
      </div>
  </section>
 <!------About US END -------->

{% endblock %}

</body>
</html>