{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SarvodayaHighSchool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

{% block content %}

<div class="jumbotron jumbotron-fluid bg-light">
  <h2 class="font-weight-bold text-center">ENQUIRY FORM</h2>
  <hr class="w-50 mx-auto mt-5">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-lg-6 border rounded bg-secondary text-white">
      <form action="{% url 'admission_enquiry' %}" method="POST">
      {% csrf_token %}
      <div class="form-group mt-4 ml-2">
        <label for="name">Parent Name:</label>
        <input type="name" placeholder="Name" required class="form-control" id="name" name="name">
      </div>
      <div class="form-group ml-2">
        <label for="ParentPhone">Parent Phone:</label>
        <input type="phone" placeholder="Phone number" required class="form-control" id="ParentPhone" name="phone">
      </div>
        <div class="form-group ml-2">
          <label for="ParentEmail">Parent Email:</label>
        <input type="phone" placeholder="Parent Email"  class="form-control" id="ParentEmail" name="email">
      </div>
        <div class="form-group ml-2">
        <label for="ChildName">Child Name:</label>
          <input type="phone" placeholder="Child Name" required class="form-control" id="ChildName" name="ChildName">
      </div>
      <div class="form-group mt-3 ml-2">
        <label for="ChildAge">Child Age:</label>
        <input type="phone" placeholder="Child Age" required class="form-control" id="ChildAge" name="ChildAge">
      </div>
        <div class="form-group mt-3 ml-2">
            <label for="class">Class:</label>
          <select class="custom-select" id="class" required name="class">
            <option selected>Choose...</option>
            <option value="3">Pre-Nursery</option>
            <option value="3">Nursery</option>
            <option value="3">UKG</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
          </select>
        </div>
      <div class="form-group mt-3 ml-2">
        <label for="message">Message:</label>
        <textarea type="message" class="form-control" name="message" id="message">
        </textarea>
      </div>
      <button onclick="greet()" type="submit" id="submit" class="btn button mb-5 btn-info ml-2">Submit</button>
    </form>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

</div>

{% endblock %}

</body>
</html>