{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SarvodayaHighSchool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>
<body>
{% block content %}
<div class="jumbotron bg-light mt-2">
  <div class="container bg-dark p-5">
    <div class="row justify-content-center">
      <div class="col col-lg-6 p-3">
          {% for gallery in Data %}
          <h4 class="text-white">{{gallery.Title}}</h4>
          <div>{{gallery.Images}}</div>
          <p class="text-white">{{gallery.Body}}</p>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/AddPost.js' %}"></script>
{% endblock %}
</body>
</html>